<template>
    <BootstrapCard name="Change Password" showFooter>
        <div class="row">
            <div class="col">
                <BootstrapInput
                    label="orig_password"
                    title="Original Password"
                    type="password"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="new_password"
                    title="New Password"
                    type="password"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="confirm"
                    title="Confirm Password"
                    type="password"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="alert alert-warning" v-if="!isFormValid && formError">
            {{formError}}
        </div>
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" :disabled="!isFormValid" @click="changePassword"><font-awesome-icon icon="key" /> Change Password</button>
                <button class="card-link btn btn-primary" @click="goto('Transactions')"><font-awesome-icon icon="cancel" /> Cancel</button>
            </div>
        </template>
    </BootstrapCard>
</template>

<script>
export default {
    name: 'ChangePassword',
    async mounted() {
        this.form.session_id = this.getSessionId;
    },
    computed: {
        isFormValid() {
            if (this.form.new_password === '' && this.form.confirm === '') {
                this.formError = null;
                return false;
            }
            if (this.form.new_password.length < 8) {
                this.formError = 'Min password length: 8 characters';
                return false;
            }
            if (this.form.new_password !== this.form.confirm) {
                this.formError = 'Passwords do not match';
                return false;
            }
            return true;
        }
    },
    methods: {
        updateDetailsObject(key, value) {
            this.form[key] = value;
        },
        async changePassword() {
            let resp = await this.$rest.request(`/rest/v1/change-password`, 'POST', {
                session_id: this.form.session_id,
                orig_password: this.form.orig_password,
                new_password: this.form.new_password,
            });
            if (resp.success) {
                this.showToast(resp.message);
            } else {
                this.showToast(resp.message, false);
            }
        }
    },
    data: () => ({
        form: {
            session_id: '',
            orig_password: '',
            new_password: '',
            confirm: '',
        },
        formError: null,
    })
}
</script>
