<template>
    <BootstrapCard name="Mutli-Send Coins" showFooter>
        <blockquote>
            <p>
                Send ScPrime coins and funds to multiple addresses in the same transaction as defined in the supplied
                CSV file. The first column must be the amount of ScPrime coins or funds to send specified in units,
                e.g. 1230SCP, 30SPF, 30SPF-A or 10SPF-B. If no units are specified, default unit type will be used.
                The second column must be the 76-byte hexadecimal address.
            </p>
            <p>
                SPF-A and SPF-B do not support fractional units.
            </p>
            <p>
                A dynamic transaction fee is applied depending on the size of the transaction and how busy the
                network is.
            </p>
        </blockquote>
        <div class="row">
            <div class="col">
                <BootstrapSelect
                    :values="getCoinTypes"
                    label="coin_type"
                    title="Currency Type"
                    default-value="SCP"
                    @valueChange="updateDetailsObject"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="form-floating">
                    <input
                        id="TX_CSV"
                        type="file"
                        ref="TX_CSV"
                        class="form-control"
                        @change="fileUploadChange"
                    />
                    <label>CSV</label>
                </div>
            </div>
        </div>
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" :disabled="sending" @click="sendCoins"><font-awesome-icon icon="coins" /> Send Coins</button>
                <button class="card-link btn btn-primary" @click="goto('Transactions')"><font-awesome-icon icon="cancel" /> Cancel</button>
            </div>
        </template>
    </BootstrapCard>
</template>

<script>
import {toRaw} from "vue";

export default {
    name: 'MultiSendCoins',
    async mounted() {
        this.form.session_id = this.getSessionId;
        this.form.coin_type = this.getCoinTypes[0].key;
    },
    computed: {
        getCoinTypes() {
            return [
                {key: 'SCP', value: 'SCP'},
                {key: 'SPF-A', value: 'SPF-A'},
                {key: 'SPF-B', value: 'SPF-B'},
            ]
        }
    },
    methods: {
        updateDetailsObject(key, value) {
            this.form[key] = value;
        },
        fileUploadChange() {
            let acceptedExtensions = ['csv'];
            let fileData = this.$refs['TX_CSV'].files[0];
            let name = fileData.name.split(".");
            if (acceptedExtensions.includes(name[name.length - 1])) {
                this.form.file = this.$refs['TX_CSV'].files[0];
            } else {
                this.showToast("Invalid file extension, please use CSV.", false)
            }
        },
        async sendCoins() {
            this.sending = true;
            let formData = new FormData();
            formData.append('file', this.form.file);
            formData.append('session_id', this.form.session_id)
            formData.append('coin_type', this.form.coin_type)

            let resp = await this.$rest.request(`/rest/v1/multi-send-coins-csv`, 'POST', formData);
            if (resp.success) {
                this.showToast(resp.message);
                this.goto('Transactions');
            } else {
                this.showToast(resp.message, false);
                this.sending = false;
            }
        }
    },
    data: () => ({
        sending: false,
        form: {
            session_id: null,
            coin_type: '',
            file: '',
        }
    })
}
</script>
