<template>
    <BootstrapTabs :tabs="[{id: 'import', name: 'Import'}, {id: 'export', name: 'Export'}]">
        <template v-slot:import>
            <div class="row">
                <div class="col">
                    <blockquote>Import notes also supports the notes format from the legacy web wallet.</blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="skip" autocomplete="off" @click="importType = 'skip'" checked>
                        <label class="btn btn-outline-primary" for="skip">Skip Existing Entries</label>

                        <input type="radio" class="btn-check" name="btnradio" id="overwrite" autocomplete="off" @click="importType = 'overwrite'">
                        <label class="btn btn-outline-primary" for="overwrite">Overwrite Existing Entries</label>
                    </div>
                    <div class="form-floating">
                        <input
                            id="NotesFile"
                            type="file"
                            ref="NotesFile"
                            class="form-control"
                            @change="fileUploadChange"
                        />
                        <label>Notes JSON File</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="text-end">
                        <button class="btn btn-primary" @click="importNotes">Import Notes</button>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:export>
            <div class="row mt-2">
                <div class="col">
                    <div class="text-end">
                        <button class="btn btn-primary" @click="exportNotes">Export Notes</button>
                    </div>
                </div>
            </div>
        </template>
    </BootstrapTabs>
</template>

<script>
export default {
    name: "NotesManager",
    props: {
        transactions: {
            type: Object,
            required: true,
        }
    },
    methods: {
        fileUploadChange() {
            this.notesArray = [];
            let acceptedExtensions = ['json'];
            let fileData = this.$refs['NotesFile'].files[0];
            let name = fileData.name.split(".");
            if (acceptedExtensions.includes(name[name.length - 1])) {
                try {
                    let isLegacy = false;
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const contents = e.target.result;
                        if (contents.startsWith("[")) {
                            isLegacy = false;
                        } else if (contents.startsWith("{")) {
                            isLegacy = true;
                        } else {
                            this.showToast("Unable to process JSON file: Unknown notes format.", false);
                            return;
                        }
                        const json = JSON.parse(contents);
                        if (isLegacy) {
                            for (let id in json) {
                                let txFull = this.getTransactionFull(id);
                                if (txFull !== false) {
                                    this.notesArray.push({
                                        transactionID: txFull,
                                        transactionNotes: json[id],
                                    })
                                }
                            }
                        } else {
                            this.notesArray = json;
                        }
                    };
                    reader.readAsText(this.$refs['NotesFile'].files[0]);
                } catch (e) {
                    this.showToast("Unable to process JSON file: " + e.message, false);
                }
            } else {
                this.showToast("Invalid file extension, please use JSON.", false);
            }
        },
        getTransactionFull(txShort) {
            try {
                txShort = txShort.replaceAll('note-', '');
                let record = this.transactions.find(el => el.short_transaction_id.toLowerCase() === txShort.toLowerCase());
                if (record === undefined) {
                    return false;
                } else {
                    return record.transaction_id;
                }
            } catch (e) {
                return false;
            }
        },
        transactionHasNotes(tx) {
            try {
                let record = this.transactions.find(el => el.transaction_id.toLowerCase() === tx.toLowerCase());
                if (record === undefined) {
                    return false;
                } else {
                    return !(record.notes === undefined || record.notes === "");
                }
            } catch (e) {
                return false;
            }
        },
        async importNotes() {
            let isSkipping = this.importType === 'skip';
            for (let record of this.notesArray) {
                let hasNotes = this.transactionHasNotes(record.transactionID);
                if (isSkipping) {
                    if (!hasNotes) {
                        await this.$rest.request('/rest/v1/notes', 'POST', {
                            wallet: this.getSessionName,
                            transactionId: record.transactionID,
                            transactionNotes: record.transactionNotes
                        });
                    }
                } else {
                    await this.$rest.request('/rest/v1/notes', 'POST', {
                        wallet: this.getSessionName,
                        transactionId: record.transactionID,
                        transactionNotes: record.transactionNotes
                    });
                }
            }
            this.showToast("Notes imported...");
            this.$emit('closeModal');
        },
        async exportNotes() {
            try {
                let req = await this.$rest.request(`/rest/v1/notes?wallet=${this.getSessionName}`, 'GET', {
                    session_id: this.getSessionId
                });
                if (req.success) {
                    this.triggerDownloadEvent(JSON.stringify(req.message), 'application/json;charset=utf-8;', 'notes.json');
                } else {
                    this.showToast(req.message, false);
                }
            } catch (e) {

            }
        },
    },
    data: () => ({
        importType: 'skip',
        notesArray: [],
    })
}
</script>
