<template>
    <BootstrapCard name="Receive Coins" showFooter>
        <h3>Last 10 Addresses</h3>
        <div class="mb-2 small">Click to copy to clipboard</div>
        <ul class="list-group">
            <li class="list-group-item cursor-pointer"
                v-for="(address, id) of getAddresses"
                :key="id"
                @click="copyToClipboard(address)"
            >
                <span style="color:#FFF" v-if="address === newAddress">
                    <font-awesome-icon beat icon="plus" /> New
                </span>
                {{ address }}
            </li>
        </ul>

        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" @click="createNewAddress"><font-awesome-icon icon="plus" /> New Address</button>
                <button class="card-link btn btn-primary" @click="goto('Transactions')"><font-awesome-icon icon="close" /> Close</button>
            </div>
        </template>
    </BootstrapCard>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";

export default {
    name: 'ReceiveCoins',
    components: {FontAwesomeIcon},
    mounted() {
        this.loadData(false);
    },
    computed: {
        getAddresses() {
            return this.addresses.slice(0, 10);
        }
    },
    methods: {
        async loadData(newAddress = false) {
            let resp;
            if (newAddress) {
                resp = await this.$rest.request(`/rest/v1/addresses?session_id=${this.getSessionId}&new_address=yes`);
            } else {
                resp = await this.$rest.request(`/rest/v1/addresses?session_id=${this.getSessionId}`);
            }
            if (resp.success) {
                try {
                    this.addresses = resp.message.Addresses;
                } catch (e) {
                    this.addresses = [];
                    this.showToast(e.message, false);
                }
                this.newAddress = resp.message.NewAddress || null;
            } else {
                this.showToast(resp.message, false);
            }
        },
        createNewAddress() {
            this.loadData(true);
        }
    },
    data: () => ({
        addresses: [],
        newAddress: null,
    })
}
</script>
