<template>
    <BootstrapCard name="Recover Seed" showFooter>
        <blockquote>{{seed}}</blockquote>
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" @click="copyToClipboard(seed)"><font-awesome-icon icon="copy" /> Copy To Clipboard</button>
                <button class="card-link btn btn-primary" @click="goto('Transactions')"><font-awesome-icon icon="close" /> Close</button>
            </div>
        </template>
    </BootstrapCard>
</template>

<script>
export default {
    name: 'RecoverSeed',
    async mounted() {
        let resp = await this.$rest.request(`/rest/v1/recover-seed?session_id=${this.getSessionId}`);
        if (resp.success) {
            this.seed = resp.message.seed;
        } else {
            this.showToast(resp.message, false);
        }
    },
    computed: {
    },
    methods: {
    },
    data: () => ({
        seed: '',
    })
}
</script>
