<template>
    <BootstrapCard name="Send to Transporter" showFooter>
        <div class="row">
            <div class="col-10">
                <BootstrapSelect
                    :values="getPreMined"
                    label="unlock_hash"
                    title="Pre-approved Address"
                    :default-value="form.unlock_hash"
                    v-if="form.transport_type === 'premined'"
                    @valueChange="updateDetailsObject"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                <BootstrapInput
                    label="amount"
                    :title="`Amount of ${formatCurrencyName(form.coin_type)} to send`"
                    :max-number="processAllowance"
                    ref="amount"
                    :prefix="`Min: ${form.transport_type === 'regular' ? Clamps.Min.Emission : Clamps.Min.Tranche} ${formatCurrencyName(form.coin_type)}`"
                    :suffix="`Allowance: ${processAllowance > 0 ? processAllowance.toLocaleString() : 0} ${formatCurrencyName(form.coin_type)}`"
                    @valueChange="updateDetailsObject"
                />
            </div>
            <div class="col-4">
                <BootstrapSelect
                    :values="getCoinTypes"
                    label="coin_type"
                    title="Currency Type"
                    :default-value="form.coin_type"
                    @valueChange="updateDetailsObject"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="destination"
                    :title="`Solana Address ${hasWalletLinked ? `(${linkedWallet} Wallet)` : ''}`"
                    ref="destination"
                    :default-value="form.destination"
                    @valueChange="updateDetailsObject"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h3>Transporter History</h3>
                <BootstrapTable
                    :data="historyTable"
                    :headers="['Burn Id', 'Status', 'Currency', 'Created']"
                    :loading="loading"
                    :header-config="[null, null, null, Enum.TABLE_FORMAT.Date]"
                    :default-sort="3"
                    :records-per-page="20"
                    :default-sort-is-asc="false"
                    id="historyTable"
                    ref="historyTable"
                />
            </div>
        </div>
<!--        Total Of {{currentBalanceOfType}} {{form.coin_type}}-->
<!--        <fieldset>-->
<!--            <legend>API Response</legend>-->
<!--            <pre>{{allowance}}</pre>-->
<!--        </fieldset>-->
<!--        <fieldset>-->
<!--            <legend>Form Object</legend>-->
<!--            <pre>{{form}}</pre>-->
<!--        </fieldset>-->
        <template v-slot:footer>
            <div class="float-end">
                 <span class="card-link" v-if="lastHistoryRecord < 3 && lastHistoryTime && ((new Date().getTime()/1000 - new Date(lastHistoryTime).getTime()) / 60 < 240)">
                    You have a transaction in progress, please wait for its status to become: "(3) In The Queue" or for 4 hours to pass since last send.
                </span>
                <button class="card-link btn btn-primary" :disabled="lastHistoryRecord < 3 && ((new Date().getTime()/1000 - new Date(lastHistoryTime).getTime()) / 60 < 240)" @click="sendCoins"><font-awesome-icon icon="coins" /> Send Coins</button>
                <button class="card-link btn btn-primary" @click="goto('Transactions')"><font-awesome-icon icon="cancel" /> Cancel</button>
            </div>
        </template>
    </BootstrapCard>
    <BootstrapModal :show="modals.transferFunds.show" title="Funds Transfer" size="modal-l" no-footer :no-close="true">
        <template v-slot:content v-if="modals.transferFunds.show === true">
            <div class="text-center">
                <h3>Transferring Funds... Please wait...</h3>
                <font-awesome-icon icon="spinner" spin size="4x" />
            </div>
        </template>
    </BootstrapModal>
</template>

<script>
import {Enum} from "../../plugins/Athlandria/libs/enums.js";

export default {
    name: 'SendTransporter',
    async mounted() {
        this.form.session_id = this.getSessionId;
        this.form.coin_type = this.getCoinTypes[0].key;
        if (this.hasWalletLinked === true) {
            this.form.destination = this.solanaAddress;
        }
        this.Modals.attach();
        await this.loadData();
        try {
            if (this.calculateTotalPremined > 0) {
                for (let hash in this.allowance.premined) {
                    if (parseInt(this.allowance.premined[hash].max_allowed) > 0) {
                        this.form.unlock_hash = hash;
                        this.form.transport_type = this.getTransportTypes[1].key;
                        break;
                    }
                }
            }
        } catch (e) {
            this.form.transport_type = this.getTransportTypes[0].key;
        }
        if (this.clockCheck !== null) {
            clearInterval(this.clockCheck);
            this.clockCheck = null;
        }
        this.clockCheck = setInterval(this.loadData.bind(this), 30000);
    },
    unmounted() {
        if (this.clockCheck !== null) {
            clearInterval(this.clockCheck);
            this.clockCheck = null;
        }
    },
    watch: {
        'solanaAddress': async function (isShown) {
            if (this.hasWalletLinked) {
                this.form.destination = this.solanaAddress;
            } else {
                this.form.destination = '';
            }
        },
    },
    computed: {
        Enum() {
            return Enum
        },
        historyTable() {
            let data = [];
            if (this.allowance.history === null) {
                this.allowance.history = [];
            }
            for (let tx of this.allowance.history) {
                let current = {
                    data: [
                        tx.burn_id,
                        `(${tx.status}) ${this.processHistoryStatus(tx.status)}`,
                        tx.currency,
                        new Date(tx.created * 1000),
                    ]
                }
                data.push(current);
            }
            return data;
        },
        lastHistoryRecord() {
            try {
                return this.allowance.history.sort((a, b) => b.created - a.created)[0].status;
            } catch (e) {
                return 10;
            }
        },
        lastHistoryTime() {
            let ret
            try {
             ret = this.allowance.history.sort((a, b) => b.created - a.created)[0].created;
            } catch (e) {
                return 10000000000000000;
            }
            return ret;
        },
        getTransportTypes() {
            let rows = [];
            rows.push({key: 'regular', value: 'Regular'});
            if (this.calculateTotalPremined > 0) {
                rows.push({key: 'premined', value: 'Initial Tranche'});
            }
            return rows;
        },
        getCoinTypes() {
            return [
                {key: 'SCP', value: 'SCP'},
                {key: 'SPFA', value: 'SPF-A'},
                {key: 'SPFB', value: 'SPF-B'},
            ]
        },
        getPreMined() {
            let data = [];
            for (let row in this.allowance.premined) {
                let current = this.allowance.premined[row];
                data.push({
                    key: row,
                    value: `${row} - Allowance: ${parseInt(current.max_allowed).toLocaleString()} ${this.formatCurrencyName(this.form.coin_type)}`
                });
            }
            return data;
        },
        calculateTotalPremined() {
            try {
                if (Object.keys(this.allowance.premined).length > 0) {
                    let allowance = 0;
                    for (let hash in this.allowance.premined) {
                        allowance += parseInt(this.allowance.premined[hash].max_allowed);
                    }
                    return allowance;
                }
                return 0;
            } catch (e) {
                console.log(e.message);
                return 0;
            }
            return 555;
        },
        getAllowance() {
            switch (this.form.transport_type) {
                case "regular":
                    return parseInt(this.allowance.regular.max_allowed);
                case "airdrop":
                    return parseInt(this.allowance.airdrop.max_allowed);
                case "premined":
                    try {
                        return parseInt(this.allowance.premined[this.form.unlock_hash].max_allowed);
                    } catch (e) {
                        return 0;
                    }
            }
        },
        currentBalanceOfType() {
            try {
                return this.allowance.balance[this.form.coin_type];
            } catch (e) {
                return 0;
            }
        },
        processAllowance() {
            try {
                if (this.currentBalanceOfType < this.getAllowance) {
                    return this.currentBalanceOfType;
                } else {
                    return this.getAllowance;
                }
            } catch (e) {
                return 0;
            }
        }

    },
    methods: {
        async loadData() {
            // let resp = await this.$rest.request(`/rest/v1/transporter/allowance?session_id=${this.getSessionId}`);
            let resp = await this.$rest.request(`/rest/v1/transporter/allowance`, 'POST', {
                session_id: this.getSessionId,
                coin_type: this.form.coin_type,
            });
            if (resp.success) {
                this.allowance = resp.message;
                if (this.$refs.historyTable !== undefined) {
                    this.$refs.historyTable.forceRefresh(this.historyTable);
                    this.loading = false;
                }
            } else {
                if (resp.message.includes('failed to decode')) {
                    this.showToast('Unable to communicate with transporter at this time.', false);
                } else {
                    this.showToast(resp.message, false);
                }
            }
        },
        processHistoryStatus(status) {
            let statusList = [
                'Burn Created',
                'Burn Broadcasted',
                'Submitted To Transporter',
                'In The Queue',
                'Completed',
            ]
            return statusList[status];
        },
        updateDetailsObject(key, value) {
            if (['transport_type', 'unlock_hash', 'coin_type'].includes(key)) {
                this.form.amount = 0;
                this.$refs.amount.setValue("");
            }
            this.form[key] = value;
            if (key === 'coin_type') {
                this.loadData();
            }
        },
        async sendCoins() {
            if (this.form.destination === '' || this.form.destination === null || this.form.destination === undefined) {
                this.showToast(`You need to provider a valid Solana address`, false);
                return;
            }
            //:min-number="form.transport_type === 'regular' ? Clamps.Min.Emission : Clamps.Min.Tranche"
            let minAmount = (this.form.transport_type ? this.Clamps.Min.Emission : this.Clamps.Min.Tranche);
            if (this.form.amount < minAmount) {
                this.showToast(`You need a minimum of ${minAmount} ${this.formatCurrencyName(this.form.coin_type)}`, false);
                return;
            }
            if (this.form.amount > this.processAllowance) {
                this.showToast(`You can't go over a limit of ${this.processAllowance.toLocaleString()} ${this.formatCurrencyName(this.form.coin_type)}`, false);
                return;
            }

            this.sending = true;
            this.modals.transferFunds.show = true;
            let resp = await this.$rest.request(`/rest/v1/transporter/send`, 'POST', {
                session_id: this.getSessionId,
                amount: this.form.amount,
                coin_type: this.form.coin_type,
                transport_type: this.form.transport_type,
                solanaAddr: this.form.destination,
                unlock_hash: this.form.unlock_hash,
            }, 120000);
            this.modals.transferFunds.show = false;
            this.loadData();
            if (resp.success) {
                this.showToast(`Successfully sent ${this.form.amount} ${this.formatCurrencyName(this.form.coin_type)} over the transporter!`);
            } else {
                this.showToast(resp.message, false);
            }
            setTimeout(() => {
                this.sending = false;
            }, 1000)
        }
    },
    /**
     * FYI per transaction limits in the smart contract:
     * Minimum (for both Initial Tranche and Emission) - 100 (WIP)
     * No maximum for Initial Tranche
     * Maximum for Emission - 20000
     */
    data: () => ({
        Clamps: {
            Min: {
                Tranche: 100,
                Emission: 100,
            },
            Max: {
                Tranche: -1,
                Emission: 20000,
            }
        },
        TOKEN_ID: 'D2X',
        TOKEN_NAME: 'D2',
        loading: true,
        allowance: {
            regular: {
                max_allowed: 0,
                wait_time: 0,
            },
            premined: {},
            airdrop: null,
            history: [],
            balance: {
                SCP: 0,
                SPFA: 0,
                SPFB: 0,
            }
        },
        sending: false,
        form: {
            session_id: null,
            transport_type: 'regular',
            unlock_hash: '',
            amount: '',
            destination: '',
            coin_type: '',
        },
        clockCheck: null,
        modals: {
            transferFunds: {
                show: false,
            }
        }
    })
}
</script>
<script setup>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
</script>
