<template>
    <BootstrapCard name="Send Coins" showFooter>
        <div class="row">
            <div class="col-8">
                <BootstrapInput
                    label="amount"
                    title="Amount"
                    @valueChange="updateDetailsObject"
                />
            </div>
            <div class="col-4">
                <BootstrapSelect
                    :values="getCoinTypes"
                    label="coin_type"
                    title="Currency Type"
                    default-value="SCP"
                    @valueChange="updateDetailsObject"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="destination"
                    title="Destination Address"
                    @valueChange="updateDetailsObject"
                    live
                />
            </div>
        </div>
<!--        <fieldset>-->
<!--            <legend>Form Object</legend>-->
<!--            <pre>{{form}}</pre>-->
<!--        </fieldset>-->
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" :disabled="sending" @click="sendCoins"><font-awesome-icon icon="coins" /> Send Coins</button>
                <button class="card-link btn btn-primary" @click="goto('Transactions')"><font-awesome-icon icon="cancel" /> Cancel</button>
            </div>
        </template>
    </BootstrapCard>
</template>

<script>
export default {
    name: 'SendCoins',
    async mounted() {
        this.form.session_id = this.getSessionId;
        this.form.coin_type = this.getCoinTypes[0].key;
    },
    computed: {
    },
    methods: {
        updateDetailsObject(key, value) {
            this.form[key] = value;
        },
        async sendCoins() {
            this.sending = true;
            let resp = await this.$rest.request(`/rest/v1/send-coins`, 'POST', this.form);
            if (resp.success) {
                this.showToast(resp.message);
                this.goto('Transactions');
            } else {
                this.showToast(resp.message, false);
                this.sending = false;
            }
        }
    },
    data: () => ({
        sending: false,
        form: {
            session_id: null,
            amount: '',
            destination: '',
            coin_type: '',
        }
    })
}
</script>
