<template>
    <template v-if="isRestoring">
        <div class="alert alert-info mt-2">
            <h4 class="p-0 m-0">Building wallet block information... Please wait...</h4>
        </div>
    </template>
    <BootstrapCard name="Transactions" show-footer v-if="!loading">
        <template v-if="pending > 0">
            <h3>Pending Transactions</h3>
            <BootstrapTable
                :data="pendingTransactionTable"
                :headers="['Tx ID', 'Last Check', 'Amount', 'Fee', 'Confirmed', 'Notes']"
                :loading="loading"
                :header-config="[null, Enum.TABLE_FORMAT.Date, null, null, null, Enum.TABLE_FORMAT.Input]"
                :records-per-page="20"
                :default-sort-is-asc="false"
                id="txTablePending"
                ref="txTablePending"
                @InputChangeEvent="inputChangeEvent"
            />
            <h3>Completed Transactions</h3>
        </template>

        <BootstrapTable
            :data="transactionsTable"
            :headers="['Tx ID', 'Date', 'Amount', 'Fee', 'Confirmed', 'Notes']"
            :loading="loading"
            :header-config="[null, Enum.TABLE_FORMAT.Date, null, null, null, Enum.TABLE_FORMAT.Input]"
            :default-sort="1"
            :records-per-page="20"
            :default-sort-is-asc="false"
            id="txTable"
            ref="txTable"
            @InputChangeEvent="inputChangeEvent"
        />
<!--        <pre>{{transactions}}</pre>-->
        <template v-slot:footer>
            <div class="text-end">
                <button class="card-link btn btn-primary btn-sm" @click="modals.notes.show = true"><font-awesome-icon icon="book" /> Import/Export Notes</button>
                <button class="card-link btn btn-primary btn-sm" @click="downloadCSV"><font-awesome-icon icon="file-csv" /> Download transactions as CSV</button>
            </div>
        </template>
    </BootstrapCard>
    <BootstrapModal :show="modals.notes.show" title="Import / Export Notes" size="modal-lg" no-footer>
        <template v-slot:content v-if="modals.notes.show === true">
            <NotesManager :transactions="transactions" @closeModal="closeNotes" />
        </template>
    </BootstrapModal>
</template>

<script>
import {toRaw} from "vue";
import {Enum} from "../../plugins/Athlandria/libs/enums.js";
import NotesManager from "./NotesManager.vue";

export default {
    name: 'Transactions',
    components: {NotesManager},
    watch: {
        'isRestoring': async function (isShown) {
            this.prepData();
        },
    },
    mounted() {
        // console.log(toRaw(this));
        this.prepData();
        this.Modals.attach();
    },
    beforeUnmount() {
        if (this.checker !== null) {
            clearInterval(this.checker);
            this.checker = null;
        }
    },
    computed: {
        Enum() {
            return Enum
        },
        pendingTransactionTable() {
            let data = [];

            for (let tx of this.transactions) {

                if (tx.time > 0) {
                    continue;
                }

                let note = this.transactionNotesList.find(el => el.transactionID === tx.transaction_id);
                if (note !== undefined) {
                    tx.notes = note.transactionNotes;
                }

                let current = {
                    data: [
                        `<a href='https://explorer.scpri.me/hash/${tx.transaction_id}' target="_blank">${tx.transaction_id}</a>`,
                        new Date().toLocaleString(),
                        tx.amount.trim(),
                        tx.fee,
                        tx.confirmed,
                        tx.notes || '',
                    ],
                    key: tx.transaction_id,
                }
                data.push(current);
            }
            return data;
        },
        transactionsTable() {
            let data = [];

            for (let tx of this.transactions) {
                if (tx.time === 0) {
                    continue;
                }

                let note = this.transactionNotesList.find(el => el.transactionID === tx.transaction_id);
                if (note !== undefined) {
                    tx.notes = note.transactionNotes;
                }

                let current = {
                    data: [
                        `<a href='https://explorer.scpri.me/hash/${tx.transaction_id}' target="_blank">${tx.transaction_id}</a>`,
                        new Date(tx.time * 1000),
                        tx.amount.trim(),
                        tx.fee,
                        tx.confirmed,
                        tx.notes || '',
                    ],
                    key: tx.transaction_id,
                }
                data.push(current);
            }
            return data;
        }
    },
    methods: {
        prepData() {
            this.loadData();
            let timeout = 60000;
            if (this.isRestoring) {
                timeout = 5000;
            }
            if (this.checker !== null) {
                clearInterval(this.checker);
                this.checker = null;
            }
            this.checker = setInterval(this.loadData.bind(this), timeout);
        },
        async loadData() {
            let tx = await this.$rest.request(`/rest/v1/transactions?session_id=${this.getSessionId}`);
            if (tx.success) {
                let req = await this.$rest.request(`/rest/v1/notes?wallet=${this.getSessionName}`);
                this.transactionNotesList = req.message;
                this.loading = false;
                this.transactions = tx.message;
                if (this.$refs.txTable !== undefined) {
                    this.$refs.txTable.forceRefresh(this.transactionsTable);
                }
                try {
                    if (this.$refs.txTablePending !== undefined) {
                        this.$refs.txTablePending.forceRefresh(this.pendingTransactionTable);
                    }
                    this.pending = this.pendingTransactionTable.length;
                } catch (e) {
                }
            } else {
                this.showToast(tx.message, false);
            }
        },
        closeNotes() {
            this.modals.notes.show = false;
            this.loadData();
        },
        async inputChangeEvent(value, dataSet) {
            console.log('inputChangeEvent', dataSet)
            let req = await this.$rest.request('/rest/v1/notes', 'POST', {
                wallet: this.getSessionName,
                transactionId: dataSet.rowKey,
                transactionNotes: value
            });
            this.showToast(req.message, req.success);
        },
        async downloadCSV() {
            try {
                let req = await this.$rest.request(`/rest/v1/export-csv`, 'POST', {
                    session_id: this.getSessionId
                });
                if (req.success) {
                    this.triggerDownload(req.message, 'transactions.csv');
                } else {
                    this.showToast(req.message, false);
                }
            } catch (e) {

            }
        },
        triggerDownload(csvContent, filename) {
            const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
            const link = document.createElement('a');
            const url = URL.createObjectURL(blob);
            link.setAttribute('href', url);
            link.setAttribute('download', filename);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    },
    data: () => ({
        pending: 0,
        checker: null,
        loading: true,
        transactions: [],
        transactionNotesList: [],
        modals: {
            notes: {
                show: false,
            }
        }
    })
}
</script>
