<template>
    <BootstrapCard name="Not eligible to vote" v-if="!voteOptions.eligible">
        <p>This wallet is not eligible to vote. Only full license holders can vote. If you have a basic, full license or own a Xa-Miner, restore from seed to participate in the voting.</p>
        <p>You can join our Discord server to get more information: <a href="https://discord.gg/scprime">https://discord.gg/scprime</a></p>
    </BootstrapCard>
    <BootstrapCard name="No active votes" v-if="voteOptions.votes == null || voteOptions.votes.length == 0">
        <p>There are no active votes at this time.</p>
    </BootstrapCard>
    <BootstrapCard name="Vote" v-if="voteOptions.eligible && voteOptions.votes != null && voteOptions.votes.length > 0" showFooter>
        <div class="row" v-for="(vote, vseq) in voteOptions.votes">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">{{vote.title}}</h5>
                    <a href="{{vote.description_url}}">{{vote.description_url}}</a>
                    <blockquote>{{vote.description}}</blockquote>
                    <div class="form-check" v-for="(option, opt_seq) in vote.vote_options">
                        <input class="form-check-input" type="radio" :name="'vote'+vseq" :id="'vote'+vseq+'_'+opt_seq" 
                            :checked="vote.voted_for == option.vote_address" :disabled="!voteOptions.eligible || vote.voted_for != ''"
                            :value="option.vote_address"
                        >
                        <label class="form-check-label" :for="'vote'+vseq+'_'+opt_seq">
                            {{option.description}}
                        </label>
                    </div>
                </div>
                <div class="float-end">
                    <button class="card-link btn btn-primary" :disabled="vote.voted_for != ''" @click="sendVote('vote'+vseq, $event)" ><font-awesome-icon icon="receipt" />Vote</button>
                </div>
            </div>
            <hr style="margin-bottom:20px" />
        </div>
    </BootstrapCard>
</template>

<script>
export default {
    name: 'Vote',
    async mounted() {
        await this.loadData();
    },
    computed: {
    },
    methods: {
        async loadData() {
            let resp = await this.$rest.request(`/rest/v1/votes?session_id=${this.getSessionId}`);
            if (resp.success) {
                this.voteOptions = resp.message;
            } else {
                this.showToast(resp.message, false);
            }
        },
        async sendVote(id, event) {
            let ret = document.querySelector('input[name="' + id + '"]:checked');
            if (ret == null || ret == '') {
                this.showToast('Please select a vote option', false);
                return;
            }

            this.form.vote_for = ret.value;
            this.form.session_id = this.getSessionId;
            let resp = await this.$rest.request(`/rest/v1/votes`, 'POST', this.form);
            if (resp.success) {
                this.showToast(resp.message);
                event.target.disabled = true;
                let radios = document.getElementsByName(id);
                for (var i = 0; i < radios.length; ++i) {
                    radios[i].disabled = true
                }
            } else {
                this.showToast(resp.message, false);
            }
        }
    },
    data: () => ({
        voteOptions: {
            eligible: true,
            votes:[]
        },
        form: {
            session_id: null,
            vote_for: '',
        }
    })
}
</script>
