<template>
    <BootstrapModal :show="modals.whaleWindow.show" title="What Whale Are You?" size="modal-lg" no-footer>
        <template v-slot:content>
            <div class="row">
                <div class="col text-center"><strong>Whale Size</strong></div>
                <div class="col text-center"><strong>Definition</strong></div>
            </div>
            <div class="row" v-for="(row, id) of chart.SCP" :key="id">
                <div class="col text-center">{{row.name}} ({{row.icon}})</div>
                <div class="col text-center">{{row.size}}</div>
            </div>
        </template>
    </BootstrapModal>
</template>
<script>
export default {
    name: 'Whale',
    mounted() {
        this.Modals.attach();
    },
    computed: {
        chart() {
            return {
                SCP: [
                    {name: 'Leviathan', icon: '🐳', size: '1,000,000+'},
                    {name: 'Kraken', icon: '🐙', size: '500,000 - 999,999'},
                    {name: 'Blue Whale', icon: '🐋', size: '250,000 - 499,999'},
                    {name: 'Humpback Whale', icon: '🌊🐫', size: '100,000 - 249,999'},
                    {name: 'Narwhal', icon: '🌊🦄', size: '50,000 - 99,999'},
                    {name: 'Shark', icon: '🦈', size: '25,000 - 49,999'},
                    {name: 'Dolphin', icon: '🐬', size: '10,000 - 24,999'},
                    {name: 'Swordfish', icon: '', size: '5,000 - 9,999'},
                    {name: 'Turtle', icon: '🐢', size: '1,000 - 4,999'},
                    {name: 'Crab', icon: '🦀', size: '100 - 999'},
                    {name: 'Minnow', icon: '🐟', size: '50 - 99'},
                    {name: 'Shrimp', icon: '🦐', size: '0 - 49'},
                ]
            }
        }
    },
    methods: {
        open() {
            this.modals.whaleWindow.show = true;
        }
    },
    data: () => ({
        modals: {
            whaleWindow: {
                show: false,
            }
        }
    })
}
</script>
