<template>
    <div class="mb-1">
        <div class="input-group">
            <span v-if="prefix" class="input-group-text" id="basic-addon1">{{prefix}}</span>
            <span v-if="prefixIcon" class="input-group-text" id="basic-addon1"><font-awesome-icon :icon="prefixIcon" /></span>
            <template v-if="hideTitle">
                <button class="btn btn-primary" @click="onSubtract">-</button>
                <input
                    :disabled="disabled"
                    :readonly="readonly"
                    type="number"
                    :placeholder="placeholder"
                    class="form-control"
                    v-model="baseValue"
                    :id="inputId"
                    :aria-describedby="`${inputId}Help`"
                    @change="$emit('valueChange', label, baseValue)"
                    @keyup="processLiveEvent"
                    :maxlength="(max > 0 ? max : null)"
                    :ref="inputId"
                />
            </template>
            <template v-else>
                <button class="btn btn-primary" @click="onSubtract">-</button>
                <div class="form-floating">
                    <input
                        :disabled="disabled"
                        :readonly="readonly"
                        type="number"
                        :placeholder="placeholder"
                        class="form-control"
                        v-model="baseValue"
                        :id="inputId"
                        :aria-describedby="`${inputId}Help`"
                        @change="$emit('valueChange', label, baseValue)"
                        @keyup="processLiveEvent"
                        :maxlength="(max > 0 ? max : null)"
                        :ref="inputId"
                    />
                    <label v-if="!hideTitle" :for="inputId">{{title ? title : label}}</label>
                </div>
            </template>
            <span v-if="suffix" class="input-group-text" id="basic-addon2">{{suffix}}</span>
            <span v-if="suffixIcon" class="input-group-text" id="basic-addon2"><font-awesome-icon :icon="suffixIcon" /></span>
            <button class="btn btn-primary" @click="onAdd">+</button>
        </div>
        <div v-if="max !== 0" :id="`${inputId}Length`" class="form-text float-end" v-html="`Max Length: ${defaultValue.length}/${max} Characters`" />
        <div v-if="help !== ''" :id="`${inputId}Help`" class="form-text" v-html="help" />
    </div>
</template>

<script>
export default {
    name: "BootstrapInput",
    props: {
        label: {
            type: String,
            required: true,
        },
        title: {
            type: String,
            required: false,
            default: null,
        },
        hideTitle: {
            type: Boolean,
            required: false,
            default: false,
        },
        help: {
            type: String,
            required: false,
            default: '',
        },
        defaultValue: {
            type: [String, Number],
            required: false,
            default: '',
        },
        override: {
            type: [String, Number],
            required: false,
            default: null,
        },
        placeholder: {
            type: String,
            required: false,
            default: ''
        },
        step: {
            type: Number,
            required: false,
            default: 0.01,
        },
        unitConverter: {
            type: Object,
            required: false,
            default: null,
        },
        prefix: {
            type: String,
            required: false,
            default: ''
        },
        prefixIcon: {
            type: String,
            required: false,
            default: null
        },
        suffix: {
            type: String,
            required: false,
            default: ''
        },
        suffixIcon: {
            type: String,
            required: false,
            default: null
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        },
        readonly: {
            type: Boolean,
            required: false,
            default: false
        },
        max: {
            type: Number,
            required: false,
            default: 0
        },
        live: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    created() {
        if (this.override !== null) {
            this.baseValue = parseFloat(this.override).toFixed(2);
        } else {
            let value = this.$attrs.modelValue;
            if (value === undefined) {
                value = '';
            }
            this.inputId = this.generateString(8);
            if (value !== '') {
                this.baseValue = parseFloat(value).toFixed(2);
            } else if (value === '' && this.defaultValue !== '') {
                this.baseValue = parseFloat(this.defaultValue).toFixed(2);
            }
            if (this.baseValue === undefined) {
                this.baseValue = 0.00;
            }
        }
    },
    watch: {
        async defaultValue(newValue) {
            if (this.override === null) {
                this.baseValue = parseFloat(newValue);
            }
        }
    },
    computed: {
        previewValue() {
            return this.baseValue.toFixed(2);
        }
    },
    methods: {
        onSubtract() {
            this.baseValue = (parseFloat(this.baseValue) - this.step).toFixed(2);
            this.$emit('valueChange', this.label, this.baseValue);
        },
        onAdd() {
            this.baseValue = (parseFloat(this.baseValue) + this.step).toFixed(2);
            this.$emit('valueChange', this.label, this.baseValue);
        },
        processLiveEvent() {
            if (this.live === false) {
                return;
            }
            this.$emit('onChanging', this.label, this.$refs[this.inputId].value);
        },
        generateString(length) {
            let result = '';
            let characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() *
                    charactersLength));
            }
            return result;
        }
    },
    data: () => ({
        inputId: '',
        baseValue: '',
    })
}
</script>
