<template>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div :id="modalId" :ref="modalId" :class="`toast ${isSuccess ? 'toastSuccess' : 'toastWarning'}`" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">{{ title }}</strong>
                <small v-if="when">{{ when }}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">{{ message }}</div>
        </div>
    </div>
</template>

<script>
// import {Toast} from "bootstrap";
import Toast from 'bootstrap/js/dist/toast.js';

export default {
    name: "BootstrapToast",
    props: {
        show: {
            type: Boolean,
            required: true,
            default: false,
        },
        isSuccess: {
            type: Boolean,
            required: false,
            default: true,
        },
        title: {
            type: String,
            required: false,
            default: 'XNS Console'
        },
        when: {
            type: String,
            required: false,
            default: null,
        },
        message: {
            type: String,
            required: true,
            default: '',
        },
        delay: {
            type: Number,
            required: false,
            default: 5000,
        }
    },
    watch: {
        'show': async function (isShown) {
            if (isShown) {
                await this.addNewToast();
                this.entity.show();
            } else {
                this.entity.hide();
            }
        },
    },
    created() {
        this.modalId = this.generateString();
    },
    methods: {
        async addNewToast() {
            await this.$nextTick(async () => {
                this.entity = new Toast(this.$refs[this.modalId], {autohide: (this.delay > 0), delay: this.delay});
                let myModalEl = document.getElementById(this.modalId);
                myModalEl.addEventListener('hidden.bs.toast', () => {
                    this.BUS.emit('toast-closed');
                });
            });
        },
        generateString(length = 8) {
            let result = '';
            let characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() *
                    charactersLength));
            }
            return result;
        }
    },
    data: () => ({
        modalId: '',
        entity: null,
    })
}
</script>
