<template>
    <div class="mb-1">
        <div class="input-group">
            <span v-if="prefix" class="input-group-text" id="basic-addon1">{{prefix}}</span>
            <span v-if="prefixIcon" class="input-group-text" id="basic-addon1"><font-awesome-icon :icon="prefixIcon" /></span>
            <template v-if="hideTitle">
                <input
                    :disabled="disabled || disabledOverride"
                    :readonly="readonly"
                    :type="type"
                    :placeholder="placeholder"
                    class="form-control"
                    v-model="baseValue"
                    :id="inputId"
                    :aria-describedby="`${inputId}Help`"
                    @change="onChange"
                    @keyup="processLiveEvent"
                    :maxlength="(max > 0 ? max : null)"
                    :ref="inputId"
                    @input="validateField"
                    :role="type === 'password' ? 'presentation' : null"
                    :autocomplete="type === 'password' ? 'off' : null"
                    @keyup.enter="handleEnter"
                />
            </template>
            <template v-else>
                <div class="form-floating">
                    <input
                        :disabled="disabled || disabledOverride"
                        :readonly="readonly"
                        :type="type"
                        :placeholder="placeholder"
                        class="form-control"
                        v-model="baseValue"
                        :id="inputId"
                        :aria-describedby="`${inputId}Help`"
                        @change="onChange"
                        @keyup="processLiveEvent"
                        @paste="trimMe"
                        :maxlength="(max > 0 ? max : null)"
                        :ref="inputId"
                        @input="validateField"
                        :role="type === 'password' ? 'presentation' : null"
                        :autocomplete="type === 'password' ? 'off' : null"
                        @keyup.enter="handleEnter"
                    />
                    <label v-if="!hideTitle" :for="inputId">{{title ? title : label}}</label>
                </div>
            </template>
            <span v-if="suffix" class="input-group-text" id="basic-addon2">{{suffix}}</span>
            <span v-if="suffixIcon" class="input-group-text" id="basic-addon2"><font-awesome-icon :icon="suffixIcon" /></span>
        </div>
        <div v-if="max !== 0 && !hideMax" :id="`${inputId}Length`" class="form-text float-end" v-html="`Max Length: ${defaultValue.length}/${max} Characters`" />
        <div v-if="help !== ''" :id="`${inputId}Help`" class="form-text" v-html="help" />
    </div>
</template>

<script>
export default {
    name: "BootstrapInput",
    props: {
        label: {
            type: String,
            required: true,
        },
        title: {
            type: String,
            required: false,
            default: null,
        },
        validate: {
            type: Function,
            required: false,
            default: null,
        },
        liveUpdate: {
            type: Function,
            required: false,
            default: null,
        },
        hideTitle: {
            type: Boolean,
            required: false,
            default: false,
        },
        help: {
            type: String,
            required: false,
            default: '',
        },
        defaultValue: {
            type: [String, Number],
            required: false,
            default: '',
        },
        override: {
            type: [String, Number],
            required: false,
            default: null,
        },
        placeholder: {
            type: String,
            required: false,
            default: ''
        },
        type: {
            type: String,
            required: false,
            default: 'text'
        },
        unitConverter: {
            type: Object,
            required: false,
            default: null,
        },
        numericOnly: {
            type: Boolean,
            required: false,
            default: false,
        },
        prefix: {
            type: String,
            required: false,
            default: ''
        },
        prefixIcon: {
            type: String,
            required: false,
            default: null
        },
        suffix: {
            type: String,
            required: false,
            default: ''
        },
        suffixIcon: {
            type: String,
            required: false,
            default: null
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        },
        readonly: {
            type: Boolean,
            required: false,
            default: false
        },
        max: {
            type: Number,
            required: false,
            default: 0
        },
        minNumber: {
            type: Number,
            required: false,
            default: 0
        },
        maxNumber: {
            type: Number,
            required: false,
            default: 0
        },
        hideMax: {
            type: Boolean,
            required: false,
            default: false,
        },
        live: {
            type: Boolean,
            required: false,
            default: false,
        },
        enterPress: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    created() {
        if (this.override !== null) {
            this.baseValue = this.override;
        } else {
            let value = this.$attrs.modelValue;
            if (value === undefined) {
                value = '';
            }
            this.inputId = this.generateString(8);
            if (value !== '') {
                this.baseValue = value;
            } else if (value === '' && this.defaultValue !== '') {
                this.baseValue = this.defaultValue;
            }
            if (this.baseValue === undefined) {
                this.baseValue = '';
            }

        }
    },
    watch: {
        async defaultValue(newValue) {
            if (this.override === null) {
                this.baseValue = newValue;
            }
        },
        minNumber(newValue) {
            this.handleDisabledOverride();
        },
        maxNumber(newValue) {
            this.handleDisabledOverride();
        }
    },
    computed: {
        validateField() {
            if (this.numericOnly) {
                this.baseValue = this.baseValue.replace(/[^0-9]/g, '');
                if (this.minNumber > 0) {
                    let numeric = parseInt(this.baseValue);
                    if (numeric < this.minNumber) {
                        this.baseValue = this.minNumber;
                    }
                }
                if (this.maxNumber > 0) {
                    let numeric = parseInt(this.baseValue);
                    if (numeric > this.maxNumber) {
                        this.baseValue = this.maxNumber;
                        return;
                    }
                }
            }
            if (this.max > 0 && this.type === 'number') {
                if (this.baseValue.toString().length > this.max) {
                    this.baseValue = this.baseValue.toString().slice(0, this.max);
                }
            }
        }
    },
    methods: {
        handleEnter() {
            if (this.enterPress) {
                this.$emit('RunFormSubmit');
            }
        },
        handleDisabledOverride() {
            this.disabledOverride = false;
            if (this.minNumber > 0 && this.maxNumber > 0) {
                if (this.maxNumber < this.minNumber) {
                    this.disabledOverride = true;
                }
            }
        },
        setValue(value) {
            this.baseValue = value;
        },
        trimMe(event) {
            // Prevent the default paste behavior
            event.preventDefault();

            // Get the text data from the clipboard
            const pastedData = event.clipboardData || window.clipboardData;
            const text = pastedData.getData('text');

            // Trim the text and update the input's value
            // Assuming you have a data property `inputValue`
            this.baseValue = text.trim();
            this.$emit('valueChange', this.label, this.baseValue);
        },
        onChange() {
            if (this.validate !== null) {
                this.isValid = this.validate(this.label, this.baseValue);
                if (this.isValid) {
                    this.$emit('valueChange', this.label, this.baseValue);
                }
            } else {
                this.$emit('valueChange', this.label, this.baseValue);
            }
        },
        processLiveEvent() {
            if (this.live === false) {
                return;
            }
            this.$emit('onChanging', this.label, this.$refs[this.inputId].value);
        },
        generateString(length) {
            let result = '';
            let characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() *
                    charactersLength));
            }
            return result;
        }
    },
    data: () => ({
        disabledOverride: false,
        isValid: true,
        inputId: '',
        baseValue: '',
    })
}
</script>
