<template>
    <template v-if="!vertical">
        <ul :class="`nav nav-${type} position-relative`" :id="id" role="tablist">
            <li class="nav-item" role="presentation" v-for="tab of tabs" :key="tab.id">
                <button
                    :class="`nav-link${isSelected(tab.id) ? ' active' : ''}`"
                    :id="getLabel(tab.name, true)"
                    data-bs-toggle="tab"
                    :data-bs-target="`#${getLabel(tab.name)}`"
                    type="button"
                    role="tab"
                    :aria-controls="slug(tab.name)"
                    :aria-selected="isSelected(tab.id) ? 'true' : 'false'"
                >
                    {{tab.name}}
                </button>
            </li>
            <li v-if="save" class="nav-item position-absolute end-0" role="presentation">
                <button
                    class="nav-action btn btn-primary mt-1"
                    type="button"
                    @click="$emit('saveChanges')"
                >
                    Save
                </button>
            </li>
        </ul>
        <div :class="`tab-content ${cssContent}`" :id="`${id}Content`">
            <div
                :class="`tab-pane position-relative fade${isSelected(tab.id) ? ' show active' : ''}`"
                :id="getLabel(tab.name)"
                role="tabpanel"
                :aria-labelledby="getLabel(tab.name, true)"
                v-for="tab of tabs" :key="tab.id"
            >
                <slot :name="tab.id" :data="tab.data">
                    ... {{tab.id}} Empty Slot ...
                </slot>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="d-flex align-items-start">
            <div :class="`nav flex-column nav-${type} me-3`" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <template v-for="tab of tabs" :key="tab.id">
                    <button
                        :class="`text-start text-nowrap nav-link${isSelected(tab.id) ? ' active' : ''}`"
                        :id="getLabel(tab.name, true)"
                        data-bs-toggle="tab"
                        :data-bs-target="`#${getLabel(tab.name)}`"
                        type="button"
                        role="tab"
                        :aria-controls="slug(tab.name)"
                        :aria-selected="isSelected(tab.id) ? 'true' : 'false'"
                    >
                        {{tab.name}}
                    </button>
                </template>
                <template v-if="save">
                    <button
                        class="nav-action btn btn-primary mt-1"
                        type="button"
                        @click="$emit('saveChanges')"
                    >
                        Save
                    </button>
                </template>
            </div>
            <div class="tab-content vw-100" id="v-pills-tabContent">
                <div
                    :class="`tab-pane fade${isSelected(tab.id) ? ' show active' : ''}`"
                    :id="getLabel(tab.name)"
                    role="tabpanel"
                    :aria-labelledby="getLabel(tab.name, true)"
                    v-for="tab of tabs" :key="tab.id"
                >
                    <slot :name="tab.id" :data="tab.data">
                        ... {{tab.id}} Empty Slot ...
                    </slot>
                </div>
            </div>
        </div>
    </template>
</template>

<script>
import slug from "slug";

export default {
    name: "BootstrapTabs",
    props: {
        id: {
            type: String,
            required: true,
        },
        tabs: {
            type: Array,
            required: true,
        },
        save: {
            type: Boolean,
            required: false,
            default: false,
        },
        vertical: {
            type: Boolean,
            required: false,
            default: false,
        },
        type: {
            type: String,
            required: false,
            default: 'tabs',
        },
        cssHeader: {
            type: String,
            required: false,
            default: '',
        },
        cssContent: {
            type: String,
            required: false,
            default: 'p-2',
        },
        initial: {
            type: String,
            required: false,
            default: '',
        }
    },
    mounted() {
        if (this.initial === '') {
            this.selected = this.tabs[0].id;
        } else {
            this.selected = this.initial;
        }
    },
    computed: {
    },
    methods: {
        isSelected(id) {
            return id === this.selected;
        },
        getLabel(name, tab) {
            if (tab === true) {
                return slug(`${name.toLowerCase()}-tab`);
            } else {
                return slug(name.toLowerCase());
            }
        },
        slug(name) {
            return slug(name);
        }
    },
    data: () => ({
        selected: 0,
    }),
}
</script>

<style lang="scss">
    div.nav[aria-orientation="vertical"] {
        border-bottom-width: 0;

        button {

        }
        button.active {
            border-bottom-width: 1px;
            border-bottom-color: rgb(73, 80, 87);
            border-right-width: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 6px;
            //background-color: #535bf2 !important;
        }
    }
</style>
