<template>
    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
        <div class="container">
            <img src="./assets/logo.png" class="navbar-brand siteLogo" alt="Logo">
            <div class="collapse navbar-collapse ms-4" id="navbarSupportedContent" v-if="hasSession && !offline">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <template v-for="(nav, id) of navigation" :key="id">
                        <li class="nav-item dropdown" v-if="nav.children">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon" v-if="nav.icon"><font-awesome-icon :icon="nav.icon" /></span>
                                {{nav.name}}
                            </a>
                            <ul class="dropdown-menu">
                                <li v-for="(child, id2) of nav.children" :key="id2">
                                    <template v-if="child.url">
                                        <router-link active-class="active" :to="{name: child.url}" :class="`dropdown-item ${child.disabled === true ? 'disabled' : ''}`" :disabled="child.disabled === true">
                                            <span class="icon" v-if="child.icon"><font-awesome-icon :icon="child.icon" /></span>
                                            {{child.name}}
                                        </router-link>
                                    </template>
                                    <template v-else>
                                        <a href="#" class="dropdown-item" @click="callAction(child.method)">
                                            <span class="icon" v-if="child.icon"><font-awesome-icon :icon="child.icon" /></span>
                                            {{child.name}}
                                        </a>
                                    </template>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" v-else>
                            <router-link active-class="active" :to="{name: nav.url}" class="nav-link">
                                <span class="icon" v-if="nav.icon"><font-awesome-icon :icon="nav.icon" /></span>
                                {{nav.name}}
                            </router-link>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="text-end" v-if="hasSession && !offline">
                <strong>Web Wallet:</strong> {{getSessionName}}<br />
                <strong>Block Height:</strong> {{parseInt(blockData.Height).toLocaleString()}}
                <template v-if="blockData.Status !== 'Synchronized'">
                    <span :style="`color: ${blockData.StatusColor}`">
                        <font-awesome-icon icon="spinner" spin/> {{blockData.Status}}
                    </span>
                </template>
                <br />
<!--                <button class="btn btn-sm" @click="$refs.whaleChart.open()">{{balanceData.Whale}} Whale Scale</button>-->
<!--                <strong>SCP:</strong> {{balanceData.SCP.toLocaleString()}} |-->
<!--                <strong>SPF-A:</strong> {{balanceData.SPFA.toLocaleString()}} |-->
<!--                <strong>SPF-B:</strong> {{balanceData.SPFB.toLocaleString()}}-->
<!--                <template v-if="getD2XValue > 0">-->
<!--                    | <strong>D2X:</strong> {{getD2XValue.toLocaleString()}}-->
<!--                </template>-->
            </div>
            <div class="ms-2">
                <button class="btn btn-primary" v-if="wallet === null" @click="modals.connectWallet.show = true">Connect Wallet</button>
                <div class="dropdown" v-else>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{wallet.name}} Wallet<br />{{wallet.Address}}
                    </button>
                    <ul class="dropdown-menu">
                        <template v-if="formatBalances.length > 0">
                            <li class="dropdown-header">
                                <template v-for="(row, id) of formatBalances" :key="id">
                                    <div class="row">
                                    <div class="col-6 small"><abbr :title="row.name">{{row.symbol}}</abbr></div>
                                    <div class="col-6 small">{{row.balance.toLocaleString()}}</div>
                                    </div>
                                </template>
                            </li>
                        </template>
                        <li><a href="#" class="dropdown-item" @click="disconnect(wallet)">Disconnect</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar p-0 m-0">
        <div class="container position-relative p-0 mt-0 mb-2">
            <div class="navbar-text p-0 m-0">
                <span class="cursor-pointer" @click="$refs.whaleChart.open()">{{balanceData.Whale}}</span>
                <template v-for="(row, id) of processLocalWalletBalances" :key="id">
                    <span v-if="row.value > 0" class="pe-2 ps-2">
                        <strong>{{row.name}}:</strong> {{row.value.toLocaleString()}}
                    </span>
                </template>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <template v-if="offline">
            <Offline class="mt-4" />
        </template>
        <template v-else-if="consensusActive">
            <router-view class="mt-4" />
        </template>
        <template v-else>
            <InitializeConsensus class="mt-4" :building="consensusBuilding" @consensusChange="consensusChange" />
        </template>
        <AddyPopup application-name="ScPrime Web Wallet" />
        <Whale ref="whaleChart" />
        <BootstrapModal :show="modals.connectWallet.show" title="Connect your wallet to ScPrime Web Wallet" size="modal-l" no-footer>
            <template v-slot:content v-if="modals.connectWallet.show === true">
                <blockquote>
                    Please select a Solana wallet from the list below to connect to your ScPrime Web Wallet.
                </blockquote>
                <div class="row">
                    <div class="col-6" v-for="(wallet, id) of $solana.listWallets()" :key="id">
                        <button class="btn btn-primary btn-full mb-4" @click="connect(wallet)">
                        <img :src="wallet.image" style="height: 50px" class="me-2" />
                        <strong>{{wallet.name}}</strong>
                        </button>
                    </div>
                </div>
            </template>
        </BootstrapModal>
        <div class="text-end mt-2">
            <small class="text-muted" v-if="hasSession">
                Session ID: {{getSessionId}}
            </small> |
            <small class="text-muted">Version: 1.4.1 <span class="text-warning" v-if="isDevelopment">(Development Environment)</span></small>
        </div>
    </div>
</template>
<script>
import AddyPopup from "./plugins/Athlandria/components/addy/AddyPopup.vue";
import InitializeConsensus from "./views/logged-out/InitializeConsensus.vue";
import Offline from "./views/logged-out/Offline.vue";
import Whale from "./views/logged-in/Whale.vue";
import axios from "axios";

export default {
    name: 'WebWallet',
    components: {Whale, Offline, InitializeConsensus, AddyPopup},
    watch: {
        'hasSession': async function (isShown) {
            this.prepData();
        },
    },
    created() {
        // this.fetchBalance();
    },
    async mounted() {
        this.prepData();
        this.Modals.attach();

        // for (let wallet of this.$solana.listWallets()) {
        //     console.log(wallet);
        // }
        // this.$solana.test();

        // this.wallet = getWalletConnection();
        // const publicKeyObj = this.$wallet.publicKey;
        // const walletAddress = publicKeyObj.value ? publicKeyObj.value.toString() : publicKeyObj.toString();
        if (this.hasWalletLinked) {
            for (let wallet of this.$solana.listWallets()) {
                if (wallet.name === this.linkedWallet) {
                    await this.connect(wallet);
                }
            }
        }
    },
    beforeUnmount() {
        if (this.checker !== null) {
            clearInterval(this.checker);
            this.checker = null;
        }
    },
    computed: {
        consensusLoaded() {
            return this.consensusStatus.consensus || this.consensusStatus.bootstrap || 0;
        },
        consensusActive() {
            return this.consensusStatus.consensus === 100 || this.consensusStatus.bootstrap === 100;
        },
        consensusInitialized() {
            let status = this.consensusStatus;
            return !(status.consensus === null && status.bootstrap === null);
        },
        consensusBuilding() {
            if (this.consensusInitialized) {
                let status = this.consensusStatus;
                return (status.consensus > 0 || status.bootstrap > 0);
            }
            return false;
        },
        processLocalWalletBalances() {
            return [
                {name: 'SCP', value: this.balanceData.SCP},
                {name: 'SPF-A', value: this.balanceData.SPFA},
                {name: 'SPF-B', value: this.balanceData.SPFB},
                {name: 'D2X', value: this.getD2XValue},
            ];
        },
        getD2XValue() {
            if (this.tokenBalances !== null) {
                try {
                    let d2x = this.formatBalances.find((el => el.symbol === 'D2X'));
                    if (d2x.balance > 0) {
                        return d2x.balance;
                    } else {
                        return 0;
                    }
                } catch (e) {
                    return 0;
                }
            } else {
                return 0;
            }
        },
        formatBalances() {
            let records = [];
            if (this.tokenBalances !== null) {
                records.push({
                    name: 'Solana',
                    symbol: 'SOL',
                    balance: this.tokenBalances.solBalance,
                });
                for (let record of this.tokenBalances.splTokenBalances) {
                    records.push({
                        name: record.metadata.name,
                        symbol: record.metadata.symbol,
                        balance: record.balance,
                    });
                }
            }
            return records;
        },
        isDevelopment() {
            return process.env.NODE_ENV === 'development';
        }
    },
    methods: {
        async connect(wallet) {
            let ok = await wallet.connect();
            if (ok) {
                this.wallet = wallet;
                this.modals.connectWallet.show = false;
                this.$store.dispatch('setSelectedWallet', {name: wallet.name, address: wallet.walletAddress});
                if (this.fetchInterval !== null) {
                    clearInterval(this.fetchInterval);
                    this.fetchInterval = null;
                }
                this.fetchBalances();
                this.fetchInterval = setInterval(() => {
                    this.fetchBalances();
                }, 60000)
            } else {
                this.showToast(`Unable to connect to ${wallet.name}, is it active and unlocked?`, false);
                this.modals.connectWallet.show = false;
            }
        },
        async disconnect(wallet) {
            await wallet.disconnect();
            if (this.fetchInterval !== null) {
                clearInterval(this.fetchInterval);
                this.fetchInterval = null;
            }
            this.wallet = null;
            this.tokenBalances = null;
            this.$store.dispatch('setSelectedWallet', null);
        },
        async fetchBalances() {
            try {
                let resp = await axios({
                    method: 'get',
                    // url: `http://10.0.60.222:3166/get-tokens?address=${this.wallet.walletAddress}`,
                    url: `https://solana-api.scpri.me/get-tokens/${this.wallet.walletAddress}`,
                    validateStatus: false,
                });
                this.tokenBalances = resp.data;
            } catch (e) {
                console.error('Balance Error', e.message);
            }
        },
        callAction(action) {
            this[action]();
        },
        async lockWallet() {
            let lock = await this.$rest.request(`/rest/v1/lock-wallet?session_id=${this.getSessionId}`);
            if (lock.success) {
                this.logout();
            } else {
                if (lock.message.includes('timeout') === false) {
                    this.showToast(lock.message, false);
                }
            }
        },
        async consensusChange() {
            let consensusStatus = await this.$rest.request(`/rest/v1/consensus-status`);
            if (consensusStatus.success) {
                this.offline = false;
                this.consensusStatus = {
                    consensus: parseFloat(consensusStatus.message.Builder) || null,
                    bootstrap: parseFloat(consensusStatus.message.Bootstrapper) || null
                };
            } else {
                this.offline = true;
            }
        },
        prepData() {
            this.loadData();
            let timeout = 60000;
            if (this.isRestoring) {
                timeout = 5000;
            }
            if (this.checker !== null) {
                clearInterval(this.checker);
                this.checker = null;
            }
            this.checker = setInterval(this.loadData.bind(this), timeout);
        },
        async loadData() {
            if (this.hasSession) {
                try {
                    let overview = await this.$rest.request(`/rest/v1/header-data?session_id=${this.getSessionId}`);
                    if (overview.success) {
                        this.blockData = overview.message.Height;
                        this.balanceData = overview.message.Balance;
                        if (this.blockData.StatusColor === 'blue') {
                            if (this.isRestoring) {
                                this.$store.dispatch('setRestore', false);
                                this.prepData();
                            }
                        }
                    } else {
                        if (this.checker !== null) {
                            clearInterval(this.checker);
                            this.checker = null;
                        }
                        this.logout();
                    }
                } catch (e) {
                    if (this.checker !== null) {
                        clearInterval(this.checker);
                        this.checker = null;
                    }
                    this.logout();
                }
            }
            this.consensusChange();
        }
    },
    data: () => ({
        wallet: null,
        tokenBalances: null,
        fetchInterval: null,
        offline: false,
        consensusStatus: {
            consensus: null,
            bootstrap: null,
        },
        buildType: null,
        navigation: [
            {
                name: 'My Wallet',
                icon: 'wallet',
                children: [
                    {name: 'Change Password', url: 'ChangePassword', icon: 'key'},
                    {name: 'Lock Wallet', method: 'lockWallet', icon: 'lock'},
                    {name: 'Recover Seed', url: 'RecoverSeed', icon: 'seedling'},
                    {name: 'Vote', url: 'Vote', icon: 'receipt'},
                ]
            },
            {name: 'Transactions', url: 'Transactions', icon: 'table'},
            {
                name: 'Send & Receive',
                icon: 'money-bill',
                children: [
                    {name: 'Send Coins', url: 'SendCoins', icon: 'coins'},
                    {name: 'Multi-Send Coins', url: 'MultiSendCoins', icon: 'address-card'},
                    {name: 'Send To Transporter', url: 'SendTransporter', icon: 'paper-plane'},
                    {name: 'Receive Coins', url: 'ReceiveCoins', icon: 'receipt'},
                ]
            },
        ],
        blockData: {},
        balanceData: {
            SCP: 0,
            SPFA: 0,
            SPFB: 0,
        },
        checker: null,
        modals: {
            connectWallet: {
                show: false,
            }
        }
    })
}
</script>
