<template>
    <template v-if="!disabled">
        <div @click="changeCheckState" style="cursor:pointer;">
            <font-awesome-icon :icon="['far', baseValue ? 'square-check' : 'square']" size="2xl" class="me-2" /> {{title}}
        </div>
    </template>
    <template v-else>
        <div class="opacity-50">
            <font-awesome-icon :icon="['far', baseValue ? 'square-check' : 'square']" size="2xl" class="me-2" /> {{title}}
        </div>
    </template>
</template>

<script>

export default {
    name: "AddyCheckbox",
    props: {
        label: {
            type: [String, Number],
            required: true,
        },
        title: {
            type: String,
            required: false,
            default: null,
        },
        defaultValue: {
            type: Boolean,
            required: false,
            default: false,
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    mounted() {
        this.baseValue = this.defaultValue;
    },
    computed: {
    },
    methods: {
        changeCheckState() {
            this.baseValue = !this.baseValue;
            this.$emit('valueChange', this.label, this.baseValue);
        },
        setCheckSelected(selected = true) {
            this.baseValue = selected;
            this.$emit('valueChange', this.label, this.baseValue);
        },
        isChecked() {
            return this.baseValue;
        }
    },
    data: () => ({
        inputId: '',
        baseValue: false,
    })

}
</script>

<style scoped>

</style>
