<template>
    <bootstrap-modal :show="dialogPrompt.show" :title="dialogPrompt.title">
        <template v-slot:content>
            <bootstrap-input
                label="prompt"
                :title="dialogPrompt.question"
                :default-value="dialogPrompt.default"
                @valueChange="(key, value) => dialogPrompt.prompt = value"
            />
        </template>
        <template v-slot:footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click="callOK">OK</button>
        </template>
    </bootstrap-modal>

    <bootstrap-toast
        :title="toast.title"
        :is-success="toast.success"
        :message="toast.message"
        :delay="toast.delay"
        :show="toast.show"
    />
</template>

<script>
export default {
    props: {
        applicationName: {
            type: String,
            required: true,
            default: '',
        },
    },
    mounted() {
        this.BUS.on('toast-closed', () => {
            this.toast.show = false;
        });
        this.BUS.on('modal-closed', () => {
            this.dialogConfiguration.show = false;
            this.dialogPrompt.show = false;
        });
        this.BUS.on('uiDialog', (data) => {
            this.dialogConfiguration = {
                show: true,
                question: data.question,
                type: data.type || 'info',
                title: data.title || this.applicationName,
                onYes: data.yes || null,
                buttons: data.buttons || null,
                onNo: data.no || null,
            }
        });
        this.BUS.on('uiPrompt', (data) => {
            this.dialogPrompt = {
                show: true,
                question: data.question,
                default: data.default || '',
                type: data.type || 'info',
                prompt: '',
                title: data.title || this.applicationName,
                onOK: data.ok || null,
            }
        });
        this.BUS.on('sendToast', (data) => {
            this.toast = {
                show: true,
                success: data.success,
                title: data.title || this.applicationName,
                message: data.message,
                delay: data.delay || 5000
            }
        });
    },
    methods: {
        callYes() {
            this.dialogConfiguration.show = false;
            this.dialogConfiguration.onYes();
        },
        callNo() {
            this.dialogConfiguration.show = false;
            this.dialogConfiguration.onNo();
        },
        callOK() {
            this.dialogPrompt.show = false;
            this.dialogPrompt.onOK(this.dialogPrompt.prompt);
        },
        callButton(button) {
            this.dialogConfiguration.show = false;
            button(this.dialogPrompt.prompt);
        }
    },
    data: () => ({
        dialogConfiguration: {
            show: false,
            type: 'info',
            question: '',
            title: '',
            onYes: null,
            onNo: null,
            buttons: null,
        },
        dialogPrompt: {
            show: false,
            type: 'info',
            default: '',
            prompt: '',
            question: '',
            title: '',
            onOK: null,
        },
        toast: {
            show: false,
            success: true,
            title: '',
            message: '',
            delay: 5000
        }
    })
}
</script>
