@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$backgroundColour: rgba(33, 33, 47, 1);
//$backgroundAlt: rgba(10, 11, 37, 0.4);
$backgroundAlt: #18182b;

$standardText: rgba(255, 255, 255, 1);

//$primaryColour: rgba(32, 116, 238, 0.7);
$primaryColour: #2073ec;
$primaryColour20: rgba(32, 116, 238, 0.2);
//$primaryColour5: rgba(32, 116, 238, 0.05);
$primaryColour5: rgba(33, 37, 57, 1);
$muted: rgba(132, 132, 165, 1);
$muted20: rgba(132, 132, 165, 0.2);

$warning: rgba(228, 116, 11, 1);
$warning70: rgba(228, 116, 11, 0.7);
$warning20: rgba(228, 116, 11, 0.2);

$error: rgba(228, 11, 11, 1);
$error70: rgba(228, 11, 11, 0.7);
$error20: rgba(228, 11, 11, 0.2);

* {
    font-family: 'Roboto', sans-serif;
}

body {
    //background-color: $backgroundColour;
    //color: $standardText;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.h1 {
    font-size: 34px;
    font-weight: bold;
    text-transform: capitalize;
}

.h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.h6 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}

nav {
    background-color: $backgroundAlt;
}

.text-hidden {
    visibility: hidden !important;
}

fieldset {
    border: 1px solid $primaryColour;
    margin: 5px;
    legend {
        border: 1px solid $primaryColour;
        background-color: $backgroundAlt;
        padding: 2px 5px;
    }
    legend:after {
        content: 'Dev Block';
        color: yellow;
        font-size: 14px;
        font-weight: bold;
        float: right;
    }
}
