@import "base";

#app {
    height: 100vh;
}

#sidebar {
    background-color: $backgroundAlt;
    min-height: 100vh;
    color: #FFFFFF;
}

#topbar {
    background-color: $backgroundAlt;
    color: #FFFFFF;
}

html[data-bs-theme="light"] {

    table.table > thead.table-dark > tr > th {
        background-color: $primaryColour !important;
    }

}

html[data-bs-theme="dark"] {
    body {
        background-color: #21212f !important;
    }

    table.table > thead.table-dark > tr > th {
        background-color: #000000 !important;
    }
}

#contentWindow {
    min-height: 100vh;
}

.mainWindow {
    padding: 10px;
}

div.form-floating input.form-control[type="text"] {
    padding: 35px 0 10px 14px;
}

.cursor-pointer {
    cursor: pointer;
}

nav {
    div.container {
        img.navbar-brand {
            margin-right: 0 !important;
        }
        ul.navbar-nav {
            li {
                a {
                    font-size: 16px;
                    text-transform: uppercase;
                    padding: 0.8rem 1rem;
                    span {
                        font-size: 20px;
                        padding-right: 5px;
                    }
                }
                div.splitter {
                    font-size: 34px;
                    color: $primaryColour20;
                    padding: 0 10px;
                }
            }
        }
    }
}

.container {
    height: initial !important;
}

.siteLogo {
    height: 50px;
}

//.nav-tabs .nav-link {
//    background-color: $backgroundAlt !important;
//}
//
//.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-action {
//    background-color: $primaryColour !important;
//    border: none;
//    color: $standardText;
//    border-radius: 0 !important;
//}

.btn-full {
    width: 100%;
}

.xns-overlay-content {
    position: absolute;
    right: 5px;
}

//.nav-tabs {
//    border: 0 solid $primaryColour;
//    position: relative;
//}

.v-spinner {
    position: relative;
    margin: 0 auto;
}

.text-primary {
    color: $primaryColour;
}

.table, .table th, .table tr, table td, .table thead, .table tbody {
    border: none !important;
}

.table tr {
    border: 1px solid $muted !important;
}

//.nav-tabs .nav-link {
//    //margin-bottom: -2px;
//    font-weight: bold;
//    color: $muted;
//    border-radius: 0 !important;
//}

button.btn-close {
    color: $standardText !important;
}

.alert {
    padding: 1rem !important;
}

.alert-info {
    background-color: $muted20;
    border: none !important;
    color: $standardText !important;
    padding: 8px !important;
}

.bg-dark:not([type="range"]) {
    border: 1px solid $muted;
    background-color: $primaryColour5 !important;
    border-radius: 0;
    caret-color: $standardText;
    color: $standardText;
}

.bg-dark[type="range"] {
    background-color: transparent !important;
    border-radius: 0;
    caret-color: $standardText;
    color: $standardText;
}

.tab-save {
    background-color: $primaryColour !important;
    color: $standardText !important;
}

.clickHand {
    cursor: pointer;
}

//.tab-content {
//    border: none !important;
//    background-color: $backgroundAlt !important;
//    -webkit-box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.76);
//    box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.76);
//    padding: 1rem !important;
//}

.bg-dark:focus {
    color: $standardText;
}

::v-deep .dropdown .nav-link {
    color: #000!important;
}

.form-check-input[type=checkbox] {
    border-radius: 0.375rem !important;
    height: 20px;
    width: 40px;
}

option.bg-dark {
    background-color: $primaryColour5 !important;
}

div.card {
    border: none !important;
    //background-color: $backgroundAlt !important;

    position: relative;
    -webkit-box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.76);
    box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.76);

    .card-header {
        font-size: 20px;
        text-transform: capitalize;
        font-weight: bold;
    }

    .card-body {
        padding: 1rem;
    }

}

ul.list-group {
    .list-group-item {
        color: $primaryColour !important;
        border: none !important;
        background-color: $backgroundAlt !important;
    }
    .list-group-item-active {
        color: $muted;
    }
    .list-group-item-inactive {
        color: $warning
    }
}

.text-warning {
    color: $warning !important;
}

.btn-warning {
    background-color: $warning;
    border: 1px solid $warning;
    color: $standardText;
}

.btn-primary {
    background-color: $primaryColour;
    color: $standardText;
}

.btn-secondary {
    background-color: $muted;
    color: $standardText;
}

.btn-warning:hover {
    background-color: $warning70 !important;
    border: 1px solid $warning70;
    color: $standardText;
}

.input-group-text {
    border: 1px solid $muted;
    background-color: $muted;

    //background-color: $primaryColour;
    //border: 1px solid $primaryColour;
    color: $standardText;
}
input:disabled {
    border: 1px solid $muted20;
    background-color: $muted20;
    color: $muted;
}

hr {
    margin: 2px 0;
    padding: 0;
    color: $primaryColour;
}

@mixin toast($type) {
    $pri: $primaryColour;
    $priDim: $primaryColour20;

    @if $type == warning {
        $pri: $warning;
        $priDim: $warning20;
    }
    @if $type == error {
        $pri: $error;
        $priDim: $error20;
    }

    border: 1px solid $pri;
    .toast-header {
        border-radius: 0 !important;
        border: none;
        background-color: $pri;
        color: $standardText;
        .text-muted {
            color: $standardText !important;
        }
    }
    .toast-body {
        background-color: $priDim !important;
    }
}

.toastSuccess {
    @include toast('success');
}

.toastWarning {
    @include toast('warning');
}

.toastError {
    @include toast('error');
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: $primaryColour20;
}

*::-webkit-scrollbar-thumb {
    background-color: $primaryColour;
    border-radius: 10px;
    border: 1px none #ffffff;
}

//.modalContainer {
//    padding-top: 10rem;
//}
