<template>
    <BootstrapCard name="Select Action">
        <div class="row">
            <div class="offset-3 col-6 mt-2 mb-2">
                <div class="row">
                    <div class="col">
                        <template v-for="(btn, id) of buttons.left" :key="id">
                            <button class="btn btn-primary btn-full btn-lg mt-2 mb-2" type="button" @click="goto(btn.page)">
                                <font-awesome-icon :icon="btn.icon" size="2x" class="mb-2" /><br />
                                <h4>{{btn.name}}</h4>
                            </button>
                        </template>
                    </div>
                    <div class="col">
                        <template v-for="(btn, id) of buttons.right" :key="id">
                            <button class="btn btn-primary btn-full btn-lg mt-2 mb-2" type="button" @click="goto(btn.page)">
                                <font-awesome-icon :icon="btn.icon" size="2x" class="mb-2" /><br />
                                <h4>{{btn.name}}</h4>
                            </button>
                        </template>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <template v-for="(btn, id) of buttons.bottom" :key="id">
                            <button class="btn btn-primary btn-full btn-lg mt-2 mb-2" type="button" @click="goto(btn.page)">
                                <font-awesome-icon :icon="btn.icon" size="2x" class="mb-2" /><br />
                                <h4>{{btn.name}}</h4>
                            </button>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </BootstrapCard>
</template>

<script>
export default {
    name: 'Home',
    async mounted() {
        if (this.hasSession) {
            await this.$rest.request(`/rest/v1/lock-wallet?session_id=${this.getSessionId}`);
            this.$store.dispatch('setSession', {
                id: null,
                name: null,
            });
        }
    },
    computed: {
    },
    data: () => ({
        buttons: {
            left: [
                { name: 'Unlock Wallet', page: 'UnlockWallet', icon: 'unlock' },
                { name: 'Create New Wallet', page: 'CreateNewWallet', icon: 'wallet' },
            ],
            right: [
                { name: 'Restore From Seed', page: 'RestoreFromSeed', icon: 'eye' },
                { name: 'Create Cold Wallet', page: '/initializeColdWallet', icon: 'snowflake' }
            ],
            bottom: [
                { name: 'Rebuild Consensus', page: 'RebuildConsensus', icon: 'wrench' },
            ]
        }
    })
}
</script>
