<template>
    <BootstrapCard name="Consensus set was not found" :show-footer="!building">
        <blockquote>
            <p>
                Consensus set was not found. Would you like to bootstrap the consensus set from
                <a href="https://consensus.scpri.me" target="_blank">https://consensus.scpri.me</a>, build a
                consensus set from a peer pool of full nodes,
                <!--upload an existing consensus set, -->
                or just download the cold wallet?
            </p>
            <div v-if="building || forcedStart">
                <h4>Rebuild in progress: {{currentType}}</h4>
                <div class="progress" role="progressbar" aria-label="Consensus State" :aria-valuenow="currentPercentage" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" :style="`width: ${currentPercentage}%`">{{currentPercentage}} % <template v-if="currentPercentage === 99">(Unpacking)</template></div>
                </div>
            </div>
        </blockquote>
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" @click="rebuildConsensus('bootstrap')"><font-awesome-icon icon="wrench" /> Bootstrap</button>
                <button class="card-link btn btn-primary" @click="rebuildConsensus('build')"><font-awesome-icon icon="hammer" /> Build</button>
<!--                <button class="card-link btn btn-primary" @click="rebuildConsensus('upload')"><font-awesome-icon icon="upload" /> Upload</button>-->
                <button class="card-link btn btn-primary" @click="goto('/initializeColdWallet')"><font-awesome-icon icon="snowflake" /> Cold</button>
            </div>
        </template>
    </BootstrapCard>
</template>
<script>
export default {
    name: 'InitializeConsensus',
    props: {
        building: {
            type: Boolean,
            required: true,
            default: false,
        }
    },
    watch: {
        async building(newValue) {
            if (newValue === true) {
                this.startClock();
            }
        }
    },
    async mounted() {
        if (this.building) {
            this.startClock();
        }
    },
    computed: {
        currentPercentage() {
            return this.consensusStatus.consensus || this.consensusStatus.bootstrap;
        },
        currentType() {
            if (this.consensusStatus.consensus !== null) {
                return 'Consensus Set';
            }
            if (this.consensusStatus.bootstrap !== null) {
                return 'Bootstrapping Consensus';
            }
            return '';
        }
    },
    methods: {
        startClock() {
            if (this.intervalClock === null) {
                this.intervalClock = setInterval(this.loadData.bind(this), 1000);
            }
        },
        async rebuildConsensus(type) {
            let consensusStatus = await this.$rest.request(`/rest/v1/consensus-build`, 'POST', {
                build_type: type,
            });
            this.consensusStatus = {
                consensus: parseFloat(consensusStatus.message.Builder) || null,
                bootstrap: parseFloat(consensusStatus.message.Bootstrapper) || null
            };
            this.forcedStart = true;
            this.$emit('consensusChange');
            this.startClock();
        },
        async loadData() {
            let consensusStatus = await this.$rest.request(`/rest/v1/consensus-status`);
            this.consensusStatus = {
                consensus: parseFloat(consensusStatus.message.Builder) || null,
                bootstrap: parseFloat(consensusStatus.message.Bootstrapper) || null
            };
            if (this.consensusStatus.consensus === 100 || this.consensusStatus.bootstrap === 100) {
                if (this.intervalClock !== null) {
                    clearInterval(this.intervalClock);
                    this.$emit('consensusChange')
                    this.intervalClock = null;
                }
            }
        }
    },
    data: () => ({
        forcedStart: false,
        intervalClock: null,
        consensusStatus: {
            consensus: null,
            bootstrap: null,
        }
    })
}
</script>
