<template>
    <BootstrapCard name="Web Wallet Offline">
        Unable to establish connection with web wallet... Is it running?
    </BootstrapCard>
</template>
<script>
export default {
    name: 'Offline',
}
</script>
