<template>
    <BootstrapCard name="Rebuild Consensus" show-footer>
        <blockquote>
            <p>
                Click below to rebuild the blockchain and download a new consensus.db.
            </p>
            <p>
                The wallet will shut down and on restart you will be prompted with options for rebuild.
            </p>
        </blockquote>
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" @click="rebuildConsensus"><font-awesome-icon icon="wrench" /> Rebuild Consensus</button>
                <button class="card-link btn btn-primary" @click="goto('Home')"><font-awesome-icon icon="close" /> Cancel</button>
            </div>
        </template>
    </BootstrapCard>
</template>
<script>
export default {
    name: 'RebuildConsensus',
    async mounted() {
    },
    computed: {
    },
    methods: {
        async rebuildConsensus() {
            let rebuild = await this.$rest.request(`/rest/v1/delete-consensus`, 'POST', {
                delete_consensus: 'yes',
            });
            this.showToast(rebuild.message, rebuild.success);
        }
    },
    data: () => ({
    })
}
</script>
