<template>
    <BootstrapCard name="Restore From Seed" showFooter>
        <blockquote>
            <p>
                To restore a wallet from a seed you must supply a new wallet name to tell the wallet where to persist
                the wallet data, a new wallet password that will be used to lock this wallet, and a wallet seed to
                restore the wallet from. In the future, you will need to supply the supplied wallet name and
                password to unlock this wallet.
            </p>
        </blockquote>
        <div class="row">
            <div class="col">
                <BootstrapInput
                    label="wallet"
                    title="Wallet Name"
                    type="text"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="password"
                    title="Password"
                    type="password"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="confirm"
                    title="Confirm Password"
                    type="password"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="seed"
                    title="Wallet Seed"
                    type="text"
                    @valueChange="updateDetailsObject"
                    @onChanging="updateDetailsObject"
                    live
                />
            </div>
        </div>
        <div class="alert alert-warning mt-2" v-if="!isFormValid && formError">
            {{formError}}
        </div>
        <template v-slot:footer>
            <div class="float-end">
                <button class="card-link btn btn-primary" @click="restoreWalletFromSeed"><font-awesome-icon icon="floppy-disk" /> Restore From Seed</button>
                <button class="card-link btn btn-primary" @click="goto('Home')"><font-awesome-icon icon="close" /> Cancel</button>
            </div>
        </template>
    </BootstrapCard>
</template>

<script>
import {toRaw} from "vue";

export default {
    name: 'RestoreFromSeed',
    async mounted() {
    },
    computed: {
        isFormValid() {
            if (this.changed === false) {
                this.formError = null;
                return false;
            }
            if (this.form.wallet === '') {
                this.formError = 'Wallet name is empty';
                return false;
            }
            if (this.form.password === '' || this.form.confirm === '') {
                this.formError = 'Wallet password is blank';
                return false;
            }
            if (this.form.password.length < 8) {
                this.formError = 'Min password length: 8 characters';
                return false;
            }
            if (this.form.password !== this.form.confirm) {
                this.formError = 'Passwords do not match';
                return false;
            }
            if (this.form.seed === '') {
                this.formError = 'Wallet seed is empty';
                return false;
            }
            return true;
        }
    },
    methods: {
        updateDetailsObject(key, value) {
            this.form[key] = value;
            let frm = this.form;
            this.changed = !(frm.wallet === '' && frm.password === '' && frm.confirm === '' && frm.seed === '');
        },
        async restoreWalletFromSeed() {
            let restore = await this.$rest.request(`/rest/v1/restore-seed`, 'POST', {
                wallet: this.form.wallet,
                new_password: this.form.password,
                confirm_password: this.form.confirm,
                seed_str: this.form.seed,
            });
            if (!restore.success) {
                this.showToast(restore.message, false);
                return;
            }
            let sessions = await this.$rest.request('/rest/v1/sessions');
            if (!sessions.success) {
                this.showToast(sessions.message, false);
                return;
            }
            let target = sessions.message.filter(el => el.Name === this.form.wallet);
            this.$store.dispatch('setSession', {
                id: target[0].ID,
                name: target[0].Name,
                restore: true,
            });
            this.$router.push({name: 'Transactions'});
        }
    },
    data: () => ({
        changed: false,
        form: {
            wallet: '',
            password: '',
            confirm: '',
            seed: '',
            skip_transporter: 'false',
        },
        formError: null,
    })
}
</script>
