<template>
    <BootstrapCard name="Unlock Wallet" showFooter>
        <div class="row">
            <div class="col">
                <BootstrapInput
                    label="wallet"
                    title="Wallet Name"
                    type="text"
                    @valueChange="updateDetailsObject"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <BootstrapInput
                    label="password"
                    title="Password"
                    type="password"
                    @valueChange="updateDetailsObject"
                    enter-press
                    @RunFormSubmit="loadWallet"
                />
            </div>
        </div>
        <template v-slot:footer>
            <button class="card-link btn btn-primary float-end" @click="loadWallet"><font-awesome-icon icon="key" /> Unlock</button>
        </template>
    </BootstrapCard>
</template>

<script>
import {toRaw} from "vue";

export default {
    name: 'UnlockWallet',
    async mounted() {
    },
    computed: {
    },
    methods: {
        updateDetailsObject(key, value) {
            this.form[key] = value;
        },
        async loadWallet() {
            let unlock = await this.$rest.request(`/rest/v1/unlock-wallet`, 'POST', this.form);
            if (!unlock.success) {
                this.showToast(unlock.message, false);
                return;
            }
            let sessions = await this.$rest.request('/rest/v1/sessions');
            if (!sessions.success) {
                this.showToast(sessions.message, false);
                return;
            }
            let target = sessions.message.filter(el => el.Name === this.form.wallet);
            this.$store.dispatch('setSession', {
                id: target[0].ID,
                name: target[0].Name,
            });
            this.$router.push({name: 'Transactions'});
        }
    },
    data: () => ({
        form: {
            wallet: '',
            password: '',
            skip_transporter: 'false',
        }
    })
}
</script>
